Source: pve-plugin-smbgateway
Section: admin
Priority: optional
Maintainer: Eric Henderson <eric@gozippy.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), perl, pve-manager (>= 8.0)

Package: pve-plugin-smbgateway
Architecture: all
Depends: ${misc:Depends}, samba, pve-manager (>= 8.0)
Description: PVE storage plugin to export ZFS/Ceph pools via SMB using native/LXC/VM gateways.
